<div class="box">
<%= form_for @comment, url: beer_comments_path, html: {id: "commentform"}  do |f| %>

    <%= f.hidden_field :beer_id, value: params[:beer_id] %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
    <%= f.label :recommend, "Recommend?" %><br>
    <div class="control">
    <%= f.radio_button :recommend, 'true' %>
    <%= f.label :recommend, "YES" %>
    <%= f.radio_button :recommend, 'false' %>
    <%= f.label :recommend, "NO" %>
    </div></div>

    <div class="field">
    <%= f.label :comment, "Comment" %><br>
    <div class="control">
    <%= f.text_area :comment %><br>
    </div></div>

    <%= f.submit 'Submit Comment', class: 'button' %>

<% end %>
</div>