<div class="box">
    <%= form_tag('/session', method: :post) do %>
        <div class="field">  
            <%= label_tag(:username, "Username:") %>
        <div class="control">
            <%= text_field_tag(:username) %><br>
        </div></div>

        <div class="field">
            <%= label_tag(:password, "Password:") %>
        <div class="control">
            <%= password_field_tag(:password) %><br>
        </div></div>

        <%= submit_tag("Sign In", class: 'button') %>

    <% end %>
</div>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>