<div class="box">
<h1>User Profile</h1>

    <p>name: <%= @user.username %><br></p>

    <p>location: <%= @user.location %><br></p>

    <a class="button" href="<%= edit_user_path(@user) %>">Edit Profile</a><br>

    <div class="box">
        <h3><%= @user.username %>'s comments</h3>
        <div class="box" id="commentbox">
            <% @user.comments.each do |comment| %>
                <p><a href="<%= beer_path(comment[:beer_id]) %>"><%= comment.beer.name %></a> - <%= comment.comment %></p><br>

            <% end %>
        </div>
    </div>
</div>
