<h1>Beer Review</h1>

<div class="columns">
    

    <div class="column">
        <div class="box"> 
        <p><STRONG>TOP FIVE BEERS</STRONG></p>
            <ol>
            <% @top_five_beers.each do |beer| %>
                <li><%= beer.rating %>%<br>
                <a href="<%= beer_path(beer) %>"><%= beer.name %></a><br></li>
            <% end %>
            </ol>
        </div>
    </div>
</div>
<div class="column">
        <div class="box">
            <p><STRONG>RANDOM BEER</STRONG></p>
            <p>Name - <a href="<%= beer_path(@random_beer) %>"><%= @random_beer.name %></a></p>
            <p>Brewery - <%= @random_beer.brewery %><br></p>
            
            <% if @random_beer.beer_picture.attached? %>
                <figure class="beer_picture">
                <img src="<%= url_for(@random_beer.beer_picture) %>" id="beerpicrandom">
                </figure>
            <% end %>
        </div>
</div>