<div class="box">
<%= form_for @beer do |f| %>

    <div class="field">
        <%= f.label :name, "Name" %>
    <div class="control">
        <%= f.text_field :name %><br>
    </div></div>

    <div class="field">
        <%= f.label :brewery, "Brewery" %>
    <div class="control">
        <%= f.text_field :brewery %><br>
    </div></div>

    <div class="field">
        <%= f.label :origin, "Origin" %>
    <div class="control">
        <%= f.text_field :origin %><br>
    </div></div>

    <div class="field">
        <%= f.label :style, "Style" %>
    <div class="control">
        <%= f.text_field :style %><br>
    </div></div>

    <div class="field">
        <%= f.label :abv, "ABV" %>
    <div class="control">
        <%= f.number_field :abv %>%<br>
    </div></div>

    <%= f.submit %>

<% end %>
</div>