<div class="box">
<%= form_for @beer do |f| %>

    <% if @beer.errors.any? %>
        <div class="error">
        
            Name <a href="<%= beer_path(@rightbeer) %>"><%= @rightbeer.name %></a> <%= @beer.errors.messages[:name].first %>
            
        </div>
    <% end %>

    <div class="field_with_errors">
        <%= f.label :name, "Name" %>
    <div class="control">
        <%= f.text_field :name %><br>
    </div></div>

    <div class="field">
        <%= f.label :brewery, "Brewery" %>
    <div class="control">
        <%= f.text_field :brewery %><br>
    </div></div>

    <div class="field">
        <%= f.label :origin, "Origin" %>
    <div class="control">
        <%= f.text_field :origin %><br>
    </div></div>

    <div class="field">
        <%= f.label :style, "Style" %>
    <div class="control">
        <%= f.text_field :style %><br>
    </div></div>

    <div class="field">
        <%= f.label :abv, "ABV" %>
    <div class="control">
        <%= f.number_field :abv, step: 0.1 %>%<br>
    </div></div>

    <div class="field">
        <%= f.label :beer_picture, "Upload a Picture" %>
    <div class="control">
        <%= f.file_field :beer_picture %><br>
    </div></div>

    <%= f.submit "Submit", class: 'button' %>

<% end %>
</div>