<div class="box">
<h2>Beer List</h2>


    <div class="box">
        <% @beers.each do |beer| %>
        <div class="box" id="commentbox">
        <div class="columns">
            <div class="column" id="beerpicindex">
                <% if beer.beer_picture.attached? %>
                    <img src="<%= url_for(beer.beer_picture) %>" id="beerpicindex">
                <% end %>
            </div>
            <div class="column">
                <%= link_to "#{beer.name}", beer_path(beer) %><br>
                <%= beer.brewery %>
            </div>
            <div class="column">
                <h3><%= beer.recommended %>%</h3>
            </div>
        </div>
        </div>
        <% end %>
    </div>
    <a class="button" href="<%= new_beer_path(@beer) %>">New Beer</a>
</div>
