<div class="box">
<h2><%= @beer.name %></h2>

<div class="box">
    <p>Name - <%= @beer.name %></p>
    <p>Brewery - <%= @beer.brewery %><br></p>
    <p>Origin - <%= @beer.origin %><br></p>
    <p>Style - <%= @beer.style %><br></p>
    <p>ABV - <%= @beer.abv %>%<br></p>
</div>

<a class="button" href="<%= beer_comments_path(@beer) %>">Comments</a>
<a class="button" href="<%= edit_beer_path(@beer) %>">Edit this beer</a>

</div>
