<!DOCTYPE html>
<html>
  <head>
    <title>BeerReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= link_to 'New User', new_user_path(@user) %>
    <%= link_to 'New Beer', new_beer_path(@beer) %>
    <%= link_to 'Beer Index', beers_path(@beers) %>
    

  <body>
    <%= yield %>
  </body>
</html>
