<!DOCTYPE html>
<html>
  <head>
    <title>BeerReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= link_to 'Beer Index', beers_path(@beers) %>
    <%= link_to 'Home', root_url %>

    <% if current_user %>
      <%= link_to 'User Profile', user_path(current_user.id) %>
      <%= link_to 'Log Out', session_path, method: 'delete' %>
      <%= link_to 'New Beer', new_beer_path(@beer) %>
    <% end %>
    <% if !current_user %>
      <%= link_to 'Log In', signin_path %>
      <%= link_to 'New User', new_user_path(@user) %>
    <% end %>


    

  <body>
    <%= yield %>
  </body>
</html>
