<!DOCTYPE html>
<html>
  <head>
    <title>BeerReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <a class="button" href="/">Home</a>
  <a class="button" href="<%= beers_path(@beers) %>">Beer Index</a>

  <% if current_user %>
    <a class="button" href="<%= user_path(current_user.id) %>">User Profile</a>
    <a class="button" href="<%= logout_path %>">Log Out</a>
    <a class="button" href="<%= new_beer_path(@beer) %>">New Beer</a>
  <% end %>
  <% if !current_user %>
    <a class="button" href="<%= signin_path %>">Log In</a>
    <a class="button" href="<%= new_user_path(@user) %>">New User</a>
  <% end %> 
 

  <body>
    <section class="section">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>


<%= link_to 'Beer Index', beers_path(@beers) %>
<%= link_to 'Home', root_url %>

<% if current_user %>
  <%= link_to 'User Profile', user_path(current_user.id) %>
  <%= link_to 'Log Out', session_path, method: 'delete' %>
  <%= link_to 'New Beer', new_beer_path(@beer) %>
<% end %>
<% if !current_user %>
  <%= link_to 'Log In', signin_path %>
  <%= link_to 'New User', new_user_path(@user) %>
<% end %> 