<!DOCTYPE html>
<html>
  <head>
    <title>BeerReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item">
        <%= link_to image_tag("beerbottle.png") %>
      </a>

      <div class="navbar-item">
          <a class="button" href="/">Home</a>
      </div>
      <div class="navbar-item">
          <a class="button" href="<%= beers_path(@beers) %>">Beer List</a>
      </div>
        <% if current_user %>
        <div class="navbar-item">
          <a class="button" href="<%= user_path(current_user.id) %>">User Profile</a>
        </div>
        <div class="navbar-item">
          <a class="button" href="<%= logout_path %>">Log Out</a>
        </div>
        <% end %>
        <% if !current_user %>
        <div class="navbar-item">
          <a class="button" href="<%= signin_path %>">Log In</a>
        </div>
        <div class="navbar-item">
          <a class="button" href="<%= new_user_path(@user) %>">Sign Up</a>
        </div>
        <% end %>

      
    </div>
  </nav>
</header>


  <% flash.each do |type, message| %>
    <div class="notification">
      <%= message %>
    </div>
  <% end %>

  <body>
    <section class="section">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>


